.chat-container {
    display: flex;
    flex-direction: column;
}

.messages {
    padding: 0;
    overflow-y: hidden;
    /* max-height: 300px; */
    margin: 0;
}

.message {
    padding: 5px 0;
    list-style: none;
    text-align: left;
    word-break: break-all;
}

.message:nth-child(2n) {
    background: white;
}

.form {
    margin-top: auto;
    display: flex;
}

textarea {
    flex-grow: 1;
    width: auto;
    height: 50px;
    padding: 10px;
    resize: none;
    border-radius: 3px;
}
