.nav {
    display: flex;
    background: green;
    padding: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.nav h1, .nav ul {
    margin: 0;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    margin-right: 20px;
}

.player {
    margin-left: auto;
}

@media (max-width: 900px) {
    .nav {
        margin-bottom: 0;
    }
}
